body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1 0 auto;
    width: auto;
    margin: auto;
    background-color: antiquewhite;
}

#container {
    background-color: rgb(17, 4, 156);
    margin: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 35rem;
    height: 45rem;
    border: 5px solid black;
    border-radius: 10px;
}

#cal-buttons {
    background-color: rgb(255, 251, 0);
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    width: 464px;
    height: 605px;
}

button {
    width: 5rem;
    height: 3rem;
    border-radius: 5px;
    margin: 15px;
    text-align: center;
    font-size: 2em;
    font-weight: bold;
}

button:hover {
    background-color: #00ff08;
}

input {
    width: 29rem;
    height: 4rem;
    margin: 1rem;
    background-color: rgb(232, 236, 236);
}

input[type="text"] {
    font-size: 30px;
    font-weight: bold;
}

.numbers-operators{
    width: 29rem;
    height: 26rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.numbers{
    width: 235px;
}

.operators {
    width: 235px;
    height: 468px;
}

.opr {
    background-color: dimgrey;
    height: 140px;
    width: 83px;
    font-size: 50px;
}

.number {
    background-color: coral;
    height: 55px;
}

.dot{
    width: 195px;
}

.AC, .C {
    background-color: crimson;
    height: 65px;
}

.clear-btns {
    margin: 0;
}

